bleach==3.1.1
certifi
cycler
decorator
entrypoints
html5lib==0.9999999
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
keras
Markdown
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
networkx
notebook
numpy
nltk
olefile
opencv-python
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prompt-toolkit==2.1.0
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
PyWavelets
pyzmq
qtconsole
scikit-image
scikit-learn
seaborn
scipy
simplegeneric
six
statsmodels
tensorflow
tensorflow-tensorboard
terminado
testpath
tornado
traitlets
wcwidth
Werkzeug
widgetsnbextension
